
.login-form-fields{
display:flex;
flex-direction: column;
}

.label-dropdown{
    text-align: left;
  
    width: 100%;
    color: #4285F4;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 65.5px; /* 327.5% */
letter-spacing: -0.4px;
}
.dropdowwn-form{
    display: flex;
    width: 45%;
    border-radius: 6px;
border: 1px solid #A0A3BD;
box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
border-radius: 6px;
border: 1px solid #A0A3BD;
box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
padding: 16px 20px 16px 8px;
}


select{
    border: 1px solid #A0A3BD;
}
